.cards{
  display:flex;
  flex-wrap:wrap;
  color:rgb(57, 58, 73);
  background-color: rgb(238, 238, 238);
  width: 300px;
  border-radius: .5rem;
  margin: 1rem;
  padding: .5rem;
}
h3{
  color:rgb(40, 41, 51);
}
